---
---

@import "{{ site.theme }}";
@import "autumn";

body {
    color: #444;
}

pre code {
    font-size: 0.8em;
    color: #666;
    line-height: 1.4;
}

h4 {
    font-size: 1.2em;
}

strong, b {
    font-weight: bold;
}

.article-container {
    padding: 0 2em 0 2em;
    text-align: justify;
}

.article-container p {
    text-indent: 30px;
}
